@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(20, 19, 22, 0.8),rgba(20, 19, 22, 0.8)), url("../assets/jakob-owens.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.text-box {
    width: 1000px;
    position: absolute;
    top: 17%;
    left: 23.5%;
    color: white;
    font-size: 20px;
}

.text-box > .title {
    font-weight: 700;
    font-size: 240%;
}

.text-box > .little-text {
    font-weight: 400;
    font-size: 140%;
}

html,
body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;;
    overflow-x: hidden;
    font-weight: 300;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 18px auto;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1220px){
    .text-box {
        left: 10%;
    }
}

@media only screen and (max-width: 1023px) {
    .text-box {
        font-size: 18px;
        left: 5%;
        top: 18%;
    }
}

@media only screen and (max-width: 767px) {
    .text-box {
        font-size: 15px;
    }
}

@media only screen and (max-width: 550px) {
    .text-box {
        font-size: 12px;
        top: 22%;
    }
}